#bottom {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 500px;
    height: 250px;
    background: #4d1c20;
    border-radius: 300px / 200px;
    transform: rotate(5deg);
  }
  
#mid {
    position: absolute;
    top: 46%;
    left: 43%;
    width: 380px;
    height: 170px;
    background: #9ea5ad;
    transform: rotate(2deg);
}
#top {
    position: absolute;
    top: 27%;
    left: 45%;
    width: 300px;
    height: 250px;
    background: #49596b;
    border-radius: 400px / 300px;
    transform: rotate(-2deg);
}